<header>
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1a237e;">
		<div
			class="container-fluid">
			<!-- Navbar brand -->
			<a class="navbar-brand" href="{{ path('home') }}">Accueil</a>

			<!-- Collapse button -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Collapsible content -->
			<div
				class="collapse navbar-collapse" id="navbarScroll">

				<!-- Links -->
				<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
					{% for menuprinc in menu %}
						<li class="nav-item dropdown mega-dropdown active">
							<a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ menuprinc.description }}<span class="sr-only">(current)</span>
							</a>
							<div class="dropdown-menu mega-menu v-2 z-depth-1 special-color py-5 px-3 dropdown-menu-right dropdown-default" aria-labelledby="navbarScrollingDropdown">
								<div class="row">
									{% for menusec in menuprinc.secondaire %}
										<div class="col-md-6 col-xl-3 sub-menu mb-xl-0 mb-4">
											<h6 class="sub-title text-uppercase font-weight-bold white-text">{{ menusec.description }}</h6>
											<ul class="list-unstyled">
												{% for menucateg in menusec.secondaire %}
													<li>
														<a class="menu-item pl-0" href="{{ path('article_list_categ', {slug:menucateg.slug}) }}">
															<i class="fas fa-caret-right pl-1 pr-3"></i>
															{{ menucateg.description }}
														</a>
													</li>
												{% endfor %}
											</ul>
										</div>
									{% endfor %}
								</div>
							</div>
						</li>
					{% endfor %}
					<li class="nouveaute" id="nouveaute">
						<a href="{{ path('article_list_nouveaute', {}) }}">Nouveautés</a>
					</li>
					<li class="selection" id="selection">
						<a href="{{ path('article_list_selection', {}) }}">Sélection</a>
					</li>
					<!-- comptes -->
					<li class="nav-item dropdown ml-5" id="navCompte">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-default" id="compteCo" aria-labelledby="navbarDropdownMenuLink-333">
							{% if app.user %}
								<a class="dropdown-item" href="{{ path('utilisateur') }}">Mon compte</a>
								<a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a>
							{% else %}
								<a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
								<a class="dropdown-item" href="{{ path('app_register') }}">S' inscrire</a>
							{% endif %}
						</div>
					</li>
					<!-- Search form -->
					<form class="form-inline" id="formSearch" role="search" action="{{ path('app_search') }}">
						<div class="md-form my-0">
							<input 
								name="q" 
								class="form-control mr-sm-2" 
								id="formControlSearch" 
								data-url="{{ path('app_search') }}"
								type="search" 
								placeholder="Recherche" 
								aria-label="Rechercher parmi le contenu du site" 
								minlength="4" 
								maxlength="12"
								{% if recherche is defined %}
									value = "{{recherche}}"
								
								{% endif %}
							>
						</div>
					</form>
				</ul>
			</div>
		</div>
	</nav>
					<div id="resultSearch"></div>

</header>
