{% extends 'basebackoffice.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>
    <a href="{{ path('categorie_new') }}" class="btn btn-outline-primary newCategorie">Créer ue nouvelle catégorie</a>

    <table class="table">
        <thead>
            <tr class="table-info">
                <th>Id</th>
                <th>Description</th>
                <th>Code</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.description }}</td>
                <td>{{ categorie.code }}</td>
                <td>{{ categorie.slug }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}"class="btn btn-outline-primary">apperçu</a>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}"class="btn btn-outline-success">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
