{% extends 'basebackoffice.html.twig' %}

{% block title %}Tva{% endblock %}

{% block body %}
    <h1>Tva</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tva.id }}</td>
            </tr>
            <tr>
                <th>ValeurTVA</th>
                <td>{{ tva.valeurTVA }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ tva.slug }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ tva.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tva_index') }}" class="btn btn-outline-primary">Retour à la liste</a>

    <a href="{{ path('tva_edit', {'id': tva.id}) }}" class="btn btn-outline-primary">edit</a>

    {{ include('backoffice/tva/_delete_form.html.twig') }}
{% endblock %}
