{% extends 'basebackoffice.html.twig' %}

{% block title %}CategorieSecondaire
{% endblock %}

{% block body %}
	<div class="show-article">
		<h1>CategorieSecondaire</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ categorie_secondaire.id }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ categorie_secondaire.description }}</td>
				</tr>
				<tr>
					<th>Code</th>
					<td>{{ categorie_secondaire.code }}</td>
				</tr>
				<tr>
					<th>Slug</th>
					<td>{{ categorie_secondaire.slug }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('categorie_secondaire_index') }}" class="btn btn-outline-primary retourListe">Retour à la liste</a>

		<a href="{{ path('categorie_secondaire_edit', {'id': categorie_secondaire.id}) }}" class="btn btn-outline-success">editer</a>

		{{ include('backoffice/categorie_secondaire/_delete_form.html.twig') }}
	</div>
{% endblock %}
