{% extends 'basebackoffice.html.twig' %}

{% block title %}Slider index{% endblock %}

{% block body %}
    <h1>Slider index</h1>
    <a href="{{ path('slider_new') }}" class="btn btn-outline-primary newSlider">Créer une nouvelle image pour le slider</a>

    <table class="table table-article">
        <thead>
            <tr class="table-info">
                <th>Id</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slider in sliders %}
            <tr>
                <td>{{ slider.id }}</td>
                <td><img src="{{ asset ('images/slider/' ~ slider.image) | imagine_filter('sliderbackoffice') }}" alt="..."></td>
                <td>
                    {# <a href="{{ path('slider_show', {'id': slider.id}) }}" class="btn btn-outline-primary">apperçu</a> #}
                    {# <a href="{{ path('slider_edit', {'id': slider.id}) }}" class="btn btn-outline-success">editer</a> #}
                    {{ include('backoffice/slider/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
