{% extends 'base.html.twig' %}

{% block title %}Liste
{% endblock %}
{# {% block title %}{{ menucateg.description }}{% endblock %} #}

{% block body %}
	<!-- notification message d'erreurs -->
	{% for message in app.flashes('error') %}
		<h5 class="alert alert-danger">
			{{ message }}
		</h5>
	{% endfor %}
	{% for message in app.flashes('success') %}
		<h5 class="alert alert-success">
			{{ message }}
		</h5>
	{% endfor %}
	<div class="container-fluid">
		<div class="boxMarque">
			<img src="{{ asset ('images/' ~ marque.image) | imagine_filter('article') }}" alt="" class="img-fluid">
			<h2>{{ marque.titre }}</h2>
		</div>

		<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5">
			{% for article in marque.articles %}
				{% include "partials/_cartearticle.html.twig" %}
			{% endfor %}
		</div>
	</div>


{% endblock %}
