{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}

	<!-- notification message d'erreurs -->
	{% for message in app.flashes('error') %}
		<h5 class="alert alert-danger">
			{{ message }}
		</h5>
	{% endfor %}
	{% for message in app.flashes('success') %}
		<h5 class="alert alert-success">
			{{ message }}
		</h5>
	{% endfor %}


	<div class="dashboard">

		<aside>
			<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 container-fluid d-flex justify-content-center">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<img src="{{ asset ('images/pixel.jpg') | imagine_filter('article')}}" class="card-img-top rounded-circle" alt="...">
						<h5 class="card-title h5User">Bonjour
							{{ app.user.firstname }}!</h5>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item btn">Tableaux de bord</li>
						<li class="list-group-item btn">Mes informations</li>
						<li class="list-group-item btn">Mes commandes</li>
						<li class="list-group-item btn">Mes listes</li>
						<li class="list-group-item btn" a href="{{ path('utilisateur_modifier') }}">Modifier votre profil</a></li>
						<li class="list-group-item btn" a href="{{ path('utilisateur_motdepasse') }}">Modifier votre mot de passe</a></li>
					</ul>
				</div>
			</div>
		</aside>

		<section class="info">
			<h3>Ma dernière commande</h3>
			<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 container-fluid d-flex justify-content-center">
				<div class="col mb-3 infoCommand">
					<div class="card text-center h-100">
						<div class="card-body infoCommandBody">
							<h5 class="card-title">Commande N°</h5>
							<img src="" class="card-img-top" alt="...">
						</div>
						<div class="card-footer">
							<a href="#" class="btn command">Mes commandes</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="liste">
		<h3>Mes listes</h3>
			<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 container-fluid d-flex justify-content-center">
				<div class="col mb-3 infoListe">
					<div class="card text-center h-100">
						<a href="#">
							<div class="card-body infoListeBody">
								<h5 class="card-title">Nom de la liste</h5>
								<img src="" class="card-img-top" alt="...">
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 container-fluid d-flex justify-content-center">
				<div class="col mb-3 newListe">
					<div class="card text-center h-100">
						<a href="#">
							<div class="card-body newListeBody">
								<i class="fas fa-plus-circle"></i>
								<p>Créer une nouvelle liste</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>


{% endblock %}
